 body {
    /*background-image: url(../Content/images/o-GROCERY-SHOPPING-facebook.jpg);*/

 }
/* Set padding to keep content from hitting the edges */


/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.page-content {
    min-height: 100vh;
    background-color: #f2f2f2;
}





/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


footer {
    background-color: #222;
    padding: 15px 0px;
    color: #fff;
}

footer p {
    margin-bottom: 0px;
}